.App-header-title {
  margin: 20px 0 20px 20px;
}

.App-header {
  padding: 20px 20px 5px 20px;
  background-color: #282c34;
  min-height: 10vh;
  color: white;
}
.App-header-menu {
  width: 100%;
  text-align: right;
}
.App-header-report {
  padding-right: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-main {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#five-day-forcast {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 40px 0 50px 0;
}
#current-weather {
  margin-bottom: 50px;
}

#App-section-config {
  margin: 30px 0 30px 0;
}
.App-section-config-entry {
  margin-bottom: 10px;
}
.App-section-config-label {
  display: inline-block;
  width: 65px;
  text-align: right;
  padding-right: 20px;
}
